@model List<StudentViewModel>
<a class="btn btn-success" asp-controller="Student" asp-action="Add">Add New Student</a>
<form class="d-flex w-50" role="search">
    <input class="form-control me-2" type="search" name="searchText" placeholder="search by name" />
    <button class="btn btn-success" type="submit">Search</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>email</th>   
            <th>phone</th>
            <th>address</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Program</th>   
            <th>semester</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <td>
                    <img class="rounded-circle" width="20" src="/profile-images/@s.ProfileImage" />
                </td>
                <td>@s.Name</td>
                <td>@s.Email</td>
                <td>@s.Phone</td>
                <td>@s.Address</td>
                <td>@s.Dob</td>
                <td>@s.Gender</td>
                <td>@s.Program</td>
                <td>@s.Semester</td>
                <td>
                    <a href="/Student/Edit/@s.Id"><i class="bi bi-pencil-square text-warning"></i></a>
                    <a href="/Student/Delete/@s.Id"><i class="bi bi-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>